.cardcontainer {
  margin: auto;
  margin-top: 3vh;
  color: black;
  font-weight: 600;
  background-blend-mode: multiply;
  border-radius: 15px;
  
}

.postTime {
  color: black;
  font-weight: 600;
}

.image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 108%;
  position: relative;
  border-radius: 15px;
  margin: auto;
}

.cardContent {
  position: relative;
  border-radius: 15px;
  margin: auto;
}

.header {
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.title {
  margin-bottom: 1rem;
}

.postTime {
  font-size: 0.8rem;
}

.imageContainer {
  position: relative;
  width: 89%;
  margin: auto;
}

.imageContent {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  text-shadow: 1px 1px 2px black;
}

