.bodyMain {
    background-color: white;
    height: 100%;
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
    
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
  margin-top: 100px;
    
  }
  
  .cardContainer > * {
    flex-basis: 50%;
    
  }

